/* font import */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tilt+Warp&display=swap");

/* variables */

/* global styles */
* {
  margin: 0;
  padding: 0;
  line-height: 1.25em;
  text-decoration: none;
  cursor: default;
}

body {
  background: #0f0f0f;
  font-size: 16px;
}
body h1 {
  color: white;
  font-family: "Tilt Warp", sans-serif;
  font-size: 5em;
}
body h2 {
  color: #acacac;
  font-family: "Tilt Warp", sans-serif;
  font-size: 2em;
}
body h3 {
  color: #acacac;
  font-family: "Tilt Warp", sans-serif;
  font-size: 1.5em;
}
body p,
body a {
  color: white;
  font-family: "Sarabun", sans-serif;
}

/* presudo-tailwind cuz it's so much nicer than css */
.flex-container {
  display: flex;
  flex: 1 1 auto;
}

.flex-nogrow {
  flex-grow: 0;
}

.flex-noshrink {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-responsive-direction {
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.f-justify-around {
  justify-content: space-around;
}

.f-justify-between {
  justify-content: space-between;
}

.f-justify-center {
  justify-content: center;
}

.f-align-center {
  align-items: center;
}

.f-align-start {
  align-items: flex-start;
}

.f-align-end {
  align-items: flex-end;
}

.h-full {
  height: 100%;
}

/* special styles for specific elements */
.title {
  line-height: 0.75em;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}
.subtitle {
  line-height: 0.75em;
  padding-bottom: 0.5em;
  padding-top: 0;
  margin-top: -0.75em;
}

.sectiontitle {
  height: 1.25em;
  padding: 0.25em;
  line-height: 1.5em;
}

.button {
  background: lightgrey;
  border-radius: 0.2em;
  height: 2em;
  width: fit-content;
  padding: 0.25em;
  font-size: 1.25em;
  line-height: 2em;
  transition: background 0.25s linear;
  color: #0f0f0f;
  cursor: pointer;
}
.button:hover {
  background: darkgrey;
}

.section-container {
  max-width: 100%;
  min-height: 25%;
  overflow: hidden;
}

.section {
  background-color: #0f0f0f;
  transition: background-color 0.25s linear 0.25s, width 0.25s ease-in-out 0.25s;
}

.section .button {
  opacity: 0;
  transition: opacity 0.25s linear 0s;
}
.section:hover {
  background-color: white;
}
.section:hover .button {
  opacity: 1;
  transition: opacity 0.25s linear 0.5s;
}

form {
  width: 100%;
}
form .userinput {
  width: 100%;
  margin-bottom: 1em;
}

form .inputfield {
  height: 1.5em;
  width: 100%;
}

.inputfield:hover {
  cursor: text;
}

.link {
  color: grey;
}

/* responsive layout */
.responsive {
  width: 65vw;
  margin: 0 auto; /* keep content centered */
  padding: 0;
  height: 100dvh;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .flex-responsive-direction {
    flex-direction: column;
  }
} /*# sourceMappingURL=index.css.map */
